.login-title {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

form {
    margin: 20px
}

.signin {
    display: block;
    padding-top: 5%;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(144, 197, 231, 0.5);

    width: 50%;

    border: 2px solid rgb(0, 18, 118);
    border-radius: 15px;
}

.form-group {
    margin-top: 1%;
    margin-bottom: 1%;
}