.App {
  background-image: url('../src/Images/bk.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}